@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}




body {
  width: 100% !important;
  height: 100vh !important;
  background: #141d22 !important;
  color: white !important;
  
}


::-webkit-scrollbar-thumb {
  background: #4684ef58;
}

::-webkit-scrollbar-thumb:hover {
  background: #4684EF;
}